@model TGIF.Models.VolunteerUser

@{
    ViewBag.Title = "Volunteer Details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend></legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SchoolName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SchoolName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Skills)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Skills)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
